body {
  # background: #e9e9e9;
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #08c;
  text-decoration: none;
}
p {
  margin: 10px 0;
}
strong {
  font-weight: bold;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
.submit_button {
  width: 500px;
  padding: 1em;
}
a:hover {
  text-decoration: underline;
}
pre.prettyprint {
  font-family: Monaco, Consolas, monospace;
  border: 1px #888 solid;
  background-color: #f8f8f8;
  margin: 10px 0;
  display: block;
  line-height: 1.5;
  overflow: auto;
  width: 500px;
  padding: 1em;
}
.clearfix {
  clear:both;
}
.backlinks {
  margin-bottom: 20px;
}
.box {
  margin: 15px auto;
  # border: 1px #ccc solid;
  width: 800px;
  # background: #fff;
  overflow: auto;
  padding: 25px;
}
header.head {
  line-height: 30px;
  border-bottom: 1px #888 dotted;
  padding-bottom: 15px;
}
header h1 a{
  font-size: 2em;
  font-weight: bold;
  float: left;
  # margin-left: 20px;
}
header .links {
  float:right;
  # margin-right: 20px;
}
header hr {
  clear: both;
}
.content {
  margin-top: 0;
  padding-top: 0;
}
.content h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.courses {
  margin-top: 15px;
}
li .course {
  padding: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #ccc solid;
}
li .course .head {
  margin-bottom: 15px;
  font-size: 1.25em;
  line-height: 20px;
}
li .course .title {
  float: left;
}
li .course .dates {
  float:right;
  font-size: .8em;
  color: #999;
}
.info {
  margin-top: 20px;
}
ul.holes, ul.cases {
  margin: 10px;
}
table {
  margin-top: 20px;
}
table td, table th {
  padding: 3px;
}
table td.name {
 width: 11em;
}
table th {
  font-weight: bold;
  text-align: left;
}
table tr {
  border-bottom: 1px #aaa solid;
}
table tr:nth-child(2n) {
  background: #f0f0f0;
}
td.button {
  vertical-align: middle;
}
li.input {
  padding: 10px;
  clear: both;
  overflow: auto;
}
li.input input {
  float: left;
}
li.input textarea {
  width: 400px;
  height: 100px;
}
li.input label {
  float: left;
  font-weight: bold;
  width: 15em;
}
textarea.solution {
  width: 500px;
  height: 150px;
  line-height: 1.5;
  font-size: 1em;
  padding: 1em;
  font-family: Monaco, Consolas, monospace;
}