.center {
  text-align: center;
}
.submit_button {
  width: 500px;
  padding: 1em;
}
.content {
  margin-top: 0;
  padding-top: 0;
}
.content h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.courses .course .head {
  margin-bottom: 15px;
  font-size: 1.25em;
  line-height: 20px;
}
.courses .course .title {
  float: left;
}
.courses .course .dates {
  float:right;
  font-size: .8em;
  color: #999;
}

.admin {
  background: #fff;
  height: 100%;
  margin: 0 auto;
  width: 800px;
  padding: 25px;
}

.info {
  margin-top: 20px;
}

table {
  margin-top: 20px;
}
table td, table th {
  padding: 3px;
}
table td.name {
 width: 11em;
}
table th {
  font-weight: bold;
  text-align: left;
}
table tr {
  border-bottom: 1px #aaa solid;
}
table tr:nth-child(2n) {
  background: #f0f0f0;
}
td.button {
  vertical-align: middle;
}
li.input {
  padding: 10px;
  clear: both;
  overflow: auto;
}
li.input input {
  float: left;
}
li.input textarea {
  width: 400px;
  height: 100px;
}
li.input label {
  float: left;
  font-weight: bold;
  width: 15em;
}
textarea.solution {
  width: 500px;
  height: 150px;
  line-height: 1.5;
  font-size: 1em;
  padding: 1em;
  font-family: Monaco, Consolas, monospace;
}