body {
  background: #e0e0e0;
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #08c;
  text-decoration: none;
}
p {
  margin: 10px 0;
}
.hide {
  display: none;
}
strong {
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}
#head {
  line-height: 74px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 30;
  border-bottom: 1px #ccc solid;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
}
#head h1 {
  font-size: 2em;
  float: left;
  padding-left: 15px;
}
#message {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -72px;
  line-height: 25px;
  padding: 0 40px;
  color: #fff;
  background: #8c0;
  display: none;
  z-index: 31;
}
#head ul.navlinks {
  float: right;
  padding-right: 15px;
}
#head ul.navlinks li {
  display: inline-block;
}

#application {
  position: absolute;
  top: 75px;
  bottom: 0;
  right: 0;
  left: 0;
}
.backbone .navlist {
 background: #fafafa;
 width: 20%;
 position: fixed;
 top: 75px;
}

.backbone .navlist li a {
  display: block;
  line-height: 35px;
  width: 100%;
  color: #999;
    padding-left:20px;
}
.backbone .navlist li a:hover {
  background: #f0f0f0;
}
.backbone .navlist li.active a{
  color: #08c;
}
.backbone ul.holes {
  right: 0;
}
.backbone ul.courses {
  left: 0;
}
.backbone #course {
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: scroll;
  right: 20%;
  left: 20%;
  z-index: 25;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.backbone #course .course {
  margin: 1em;
}
.backbone #hole {
  margin: 2em;
}
.backbone pre.prettyprint, textarea.prettyprint {
  font-family: Monaco, Consolas, monospace;
  margin: 10px 0;
  display: block;
  line-height: 1.5;
  width: 500px;
  padding: 1em;
}
.backbone textarea.prettyprint {
  height: 150px;
  margin-top: 15px;
}
.backbone pre.prettyprint {
  border: 1px #888 solid;
  background-color: #f8f8f8;
  overflow: auto;
}
.backbone .solution {
  margin-top: 20px;
}

.backbone .response {
  border: 1px #555 solid;
  padding: 0 10px;
  width: 500px;
  margin-top: 10px;
}

.backbone .response.success {
  background: #cfc;
}

.backbone .response.error {
  background: #fcc;
}


/* ************************** */


.admin {
  background: #fff;
  width: 800px;
  margin: 0 auto;
  padding: 25px;
}

.admin h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.content {
  margin-top: 0;
  padding-top: 0;
}
.content h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.courses .course .head {
  margin-bottom: 15px;
  font-size: 1.25em;
  line-height: 20px;
}
.courses .course .title {
  float: left;
}
.courses .course .dates {
  float:right;
  font-size: .8em;
  color: #999;
}

li.input {
  padding: 10px;
  clear: both;
  overflow: auto;
}
li.input input {
  float: left;
}
li.input textarea {
  width: 400px;
  height: 100px;
}
li.input label {
  float: left;
  font-weight: bold;
  width: 15em;
}


table {
  margin-top: 20px;
}
table td, table th {
  padding: 3px;
}
table td.name {
 width: 11em;
}
table th {
  font-weight: bold;
  text-align: left;
}
table tr {
  border-bottom: 1px #aaa solid;
}
table tr:nth-child(2n) {
  background: #f0f0f0;
}
td.button {
  vertical-align: middle;
}

