!!!
%html
  %head
    %title RubyBackNine
    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
%body
  %p.notice= notice
  %p.alert= alert

  %p.links
    -if user_signed_in?
      =link_to('Logout', destroy_user_session_path, :method => :delete)
      |
      = current_user.email
    -else
      =link_to('Login', new_user_session_path)
      =link_to('Register', new_user_registration_path)

  =yield