!!!
%html
  %head
    %title RubyBackNine
    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
%body
  %header.head.box
    %p.notice= notice
    %p.alert= alert
    %h1.header
      =link_to('Ruby Back 9', root_path)
    %p.links
      -if user_signed_in?
        = current_user.email
        |
        =link_to('Logout', destroy_user_session_path, :method => :delete)
        
      -else
        =link_to('Register', new_user_registration_path)
        |
        =link_to('Login', new_user_session_path)

  %section.content.box
    =yield